<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gwen" version="3.0.6001.172" targetFramework="net461" />
  <package id="Gwen.Renderer.OpenTK" version="3.0.6001.430" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net461" />
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="OpenTK.Next" version="1.1.1616.8959" targetFramework="net461" />
  <package id="QuickFont.Desktop" version="4.0.6000.41401" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
</packages>